{{! index.mustache }}
{{<../base}}
{{$content}}
<h1>Admin</h1>
<ul>
    <li><a href="/reports/verified/create">New report</a></li>
    <li><a href="/reports/unverified/">Unverified reports</a></li>
    <li><a href="/reports/verified/">Verified reports</a></li>
</ul>
{{/content}}
{{/../base}}