{{! upload_succeeded.mustache }}
{{<../base}}
{{$content}}
<div class="row">
    <div class="col-sm-6">
        <h1>Report filed</h1>
        <p>Thank you for taking the time to report this. Your report will be verified as soon as possible and added to the
            database.</p>
        <p>If you provided an email to contact you, you will be notified when your report is added to the database,
            or, if your report is rejected, with an explanation of the reason for rejection.</p>
        <p><a href="/">Back to frontpage</a></p>
    </div>
    <div class="col-sm-4">
        <h3>How are reports verified?</h3>
        <p>Reports are verified by volunteer staff working for the Crowd Control project. The verification step is to
            ensure the database is not filled with entries from online 'bots' or by groups wanting to, for some reason
            or another, add false reports to the database.
        </p>
        <p>We hope to make this process more transparent in the future, bear with us as we find a good way to do
            this and as we expand functionality of the site overall.</p>
    </div>
</div>
{{/content}}
{{/../base}}