{{! subscribed.mustache }}
{{<../base}}
{{$content}}
<h1>Subscription created</h1>
<p>Thank you for subscribing to updates! The subscription system is currently being built,
    and you will be contacted to verify your email as soon as our subscription system is ready.</p>
<p><a href="/">Back to frontpage</a></p>
{{/content}}
{{/../base}}